@model ProjectFiveSix.Models.Customer

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>
    Username:<br />
    <input type="text" name="Username" /><br />
    Password:<br />
    <input type="password" name="Password" /><br /><br />
    <input type="submit" value="Login" />
</form>

